<form action="/input" method="POST">
<input name="field1" value="enter here"><br>
<input type="radio" name="q1" value="answer 1">answer 1<br>
<input type="radio" name="q1" value="answer 2">answer 2<br>
<input type="radio" name="q1" value="answer 3">answer 3<br>
<input type="submit" value="Echo"><br>
{{text_response}}<br>
{{radio_response}}

{% for question in questions %}

{{question.id}}<br>
{{question.prompt}}<br>

{% for option in question.options %}

<input type="radio" name="{{question.id}}" value="{{option.text}}">{{option.text}}<br>

{% endfor %}

{% endfor %}

</form>

