# Small Scale Energy Sources, ENSP 438, Spring 2014

4 Units, Tuesday and Thursday, 10:00 - 11:50 am, ETC

------------------------------------------------
Daniel Soto
Rachel Carson Hall 12
sotod@sonoma.edu
Department of Environmental Studies and Planning
Sonoma State University
------------------------------------------------

## Course Description

Course will focus on functional design of small-scale wind,
photovoltaic, biomass, and hydroelectric energy sources. Siting,
evaluating potentially available power, design of fully operable
installation, and by-products and waste streams will be discussed.
Energy storage mechanisms, interconnections to existing energy networks,
and energy cost comparisons will be examined. Prerequisite: ENSP 338,
ENSP majors, junior- or senior-level standing, or consent of instructor.

## Learning Objectives

- Understand science and economics of renewable electricity sources
- Perform detailed calculations of energy production and economic value
  of renewable energy sources
- Communicate quantitative aspects of electricity generation

## Course Requirements

This course assumes a solid background in algebra, trigonometric
functions, and physics.  There will be at least six homework assignments
that will have both quantitative and qualitative tasks.  Students should
come to class having completed the assigned reading and be ready to
perform guided problem solving during class.  Students will complete a
project at the end of the class and give a written report and
presentation that integrates what they have learned in the class.

## Grading

- Classroom work (quizzes, participation) 25%
- Homework 50%
- Research project 25%


## Agreements

- Respectful tone in classroom

Civility is required from all students during discussions and
interactions.  In general, I expect students to be supportive of each
others learning goals.

- Minimize electronic distractions

Internet-connected electronic devices (phones, tablets) may be used in
class for learning purposes.  Using devices for social networks or other
uses during class time is strongly discouraged.


## Course Schedule

{{course_schedule}}

## Readings

The required text for this course is:

Gil Masters, *Renewable and Efficient Electric Power Systems*, 2nd
Edition.  Available at the Campus Bookstore and at Northlight Books.
There is also an online version of the text available on the Sonoma
Library website.

There will also be readings posted to Moodle throughout the
semester.  Graded reflection assignments will be assigned for posted
readings and will be included in your homework grading average.

Here is the tentative reading schedule

{{reading_schedule}}

## Project Schedule

Here is the tentative project schedule.

{{project_schedule}}

## Homework

You will be graded both on the
validity of your work as well as your ability to communicate your
methods.  This means that in addition to the mathematics, you should be
providing brief explanations of your techniques and your thought
process.  Calculations without supporting arguments will not receive
full credit.

Homework will be graded on a coarse grading schedule of a 1, 2, or 3.  A
3 is given for strong work that meets or exceeds the requirements, a 2
for adequate work, and a 1 for work that doesn't meet expectations.
After grading, you may submit a self-evaluation that considers how your
approach differs from the accepted approach.  Self-evaluations that
demonstrate an improvement in your understanding will raise your
homework grade through partial credit.


Here is the tentative homework schedule.

{{homework_schedule}}

## Office Hours

My office hours are held Tuesday and Wednesday in my office in Rachel
Carson Hall 12 from 2pm until 3pm.  Signup is online and can be accessed
through my website at http://danielrsoto.com

## University Policies

There are important University policies that you should be aware of,
such as the add/drop policy; cheating and plagiarism policy, grade
appeal procedures; accommodations for students with disabilities and the
diversity vision statement.  Go to this URL to find them.
[http://www.sonoma.edu/uaffairs/policies/studentinfo.shtml](http://www.sonoma.edu/uaffairs/policies/studentinfo.shtml)
